<% include ../header.ejs %>
<% include ../nav.ejs %>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <% include sidebar.ejs %>
    </div>
    <div class="col-md-8 col-xs-12">
      <% if (updated) { %>
      <div class="alert alert-success" role="alert"><%=type%>信息已经保存！<%=updated%></div>
      <% } %>
      <form class="form-horizontal" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="id">私钥文件(p12)</label>
          <input type="file" name="pfx" class="form-control" id="pfx" placeholder="请上传私钥文件">
        </div>
        <% if (certificate.pfx) {%>
        <div class="form-group">
          <label for="id">私钥值</label>
          <textarea class="form-control" disabled><%=certificate.pfx%></textarea>
        </div>
        <% } %>
        <div class="form-group">
          <label for="key">Key(默认商户ID)<%=certificate%></label>
          <input type="text" name="key" class="form-control" id="key" placeholder="请指定key" value="<%=certificate.pfxKey%>">
        </div>
        <hr/>
        <button type="submit" class="btn btn-default btn-block btn-success">Submit</button>
        <hr/>
      </form>
    </div>
  </div>
</div>
<% include ../footer.ejs %>
