<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">微信配置</div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><a href="/<%=id%>/config/app">App基本信息配置</a></li>
    <li class="list-group-item"><a href="/<%=id%>/config/host">域名配置</a></li>
    <li class="list-group-item"><a href="/<%=id%>/config/oauth">Oauth配置</a></li>
    <li class="list-group-item"><a href="/<%=id%>/config/merchant">商户信息配置</a></li>
    <li class="list-group-item"><a href="/<%=id%>/config/certificate">支付证书配置</a></li>
    <li class="list-group-item"><a href="/<%=id%>/config/message">消息配置</a></li>
  </ul>
</div>
