<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">微信配置</div>

  <!-- List group -->
  <ul class="list-group">
    <li class="list-group-item"><a href="/<%= id %>/apis/message">消息</a></li>
    <li class="list-group-item"><a href="/<%= id %>/apis/menu">菜单</a></li>
    <li class="list-group-item"><a href="/<%= id %>/apis/media">多媒体</a></li>
    <li class="list-group-item"><a href="/<%= id %>/apis/media">用户信息</a></li>
    <li class="list-group-item"><a href="/<%= id %>/apis/link">二维码及推广</a></li>
    <li class="list-group-item"><a href="/<%= id %>/apis/pay">支付</a></li>
  </ul>
</div>
